In [3]:
#use cat to read data from file
!cat employee.txt

ajay manager account 45000
sunil clerk account 25000
varun manager sales 50000
amit manager account 47000
tarun peon sales 15000
deepak clerk sales 23000
sunil peon sales 13000
satvik director purchase 80000

In [9]:
#print all line, $0 means print all field
!awk '{print $0}' employee.txt

ajay manager account 45000
sunil clerk account 25000
varun manager sales 50000
amit manager account 47000
tarun peon sales 15000
deepak clerk sales 23000
sunil peon sales 13000
satvik director purchase 80000

In [12]:
#print line that match pattern
#print all ine that contain manager text. syntax /search_content/
!awk '/manager/ {print $0}' employee.txt

ajay manager account 45000
varun manager sales 50000
amit manager account 47000

In [2]:
#print line with field 1 and 4. In linux index start from 1
!awk '{print $1,$4}' employee.txt

ajay 45000
sunil 25000
varun 50000
amit 47000
tarun 15000
deepak 23000
sunil 13000
satvik 80000

In [8]:
#print all line and add NR (number of row)
!awk '{print NR,$0}' employee.txt

1 ajay manager account 45000
2 sunil clerk account 25000
3 varun manager sales 50000
4 amit manager account 47000
5 tarun peon sales 15000
6 deepak clerk sales 23000
7 sunil peon sales 13000
8 satvik director purchase 80000

In [ ]:
#for each line print field number one and the last field
#NF: number of field in line
!awk '{print $1,$NF}' employee.txt

In [13]:
#filter row with number of row from 3 to 6, print number of row (NR) and all line $0
!awk 'NR==3, NR==6 {print NR,$0}' employee.txt

3 varun manager sales 50000
4 amit manager account 47000
5 tarun peon sales 15000
6 deepak clerk sales 23000

In [14]:
#let use awk (for formatting text content) with file geeksforekeeks.txt
!cat 'geeksforgeeks.txt'

A    B    C
Tarun    A12    1
Man    B6    2
Praveen    M42    3

In [16]:
#format text from file. print 
!awk '{print NR "- " $1}' geeksforgeeks.txt

1- A
2- Tarun
3- Man
4- Praveen

In [17]:
#for each line print field number 2
!awk '{print $2}' geeksforgeeks.txt

B
A12
B6
M42

**awk syntax:**
- awk options 'selection _criteria {action }' input-file > output-file
- syntax note: awk options 'selection_criteria {action_definition}' input_file > output-file

In [20]:
#select row which is not empy and print content
!awk 'NF > 0 {print $0}' geeksforgeeks.txt

A    B    C
Tarun    A12    1
Man    B6    2
Praveen    M42    3

In [23]:
# find the lengh of longest line
!awk '{ if (length($0) > max) max = length($0) } END { print max }' geeksforgeeks.txt

19